html {
  font-size: 62.5%;
  font-family: 'Segma', sans-serif;
  font-weight: 500;
  position: relative;
  min-height: 100%;

  body {
    margin: 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: initial;
  }
}